// FONT SIZES
@mixin fontSize($num) { font-size: #{$num}em; }

// FONT WEIGHTS
@mixin fontLight { font-weight: 300; }
@mixin fontRegular { font-weight: 400; }
@mixin fontBold { font-weight: 700; }
@mixin fontHeavy { font-weight: 800; }

// COLORING
@mixin fontColor($color) { color: $color; }
@mixin bgColor($color) { background-color: $color; }

// MARGINS & PADDING WITH ARGS
@mixin soloMargin($num) { margin: $num; }
@mixin soloPadding($num) { padding: $num; }
@mixin dualMargin($top, $sides) { margin: $top $sides; }
@mixin dualPadding($top, $sides) { padding: $top $sides; }
@mixin fullMargin($t, $l, $b, $r) { margin: $t $l $b $r }
@mixin fullPadding($t, $l, $b, $r) { padding: $t $l $b $r }

// PRETTY THINGS
@mixin alignCenter { text-align: center; }

@mixin starBullets {
  @include dualPadding(0px, 10px);
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 1.5em;
}

@mixin icons {
  font-family: 'EntypoRegular';
  @include fontSize($baseFontSize*1.5);
  @include dualPadding(0px, 10px);
}

@mixin transitionAll {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}