// FONT FAMILIES
$font: 'jaf-facitweb', 'Helvetica', 'Arial', sans-serif;
$fontMono: "Courier New", Courier, monospace;

/* baseFontSize assumes you're using the fontSize mixin and desire ems */
$baseFontSize: 1.1;

// COLORS
$darkestGray: #272727;
$accent: #f25c65;
$white: #F4F4F4;
$lightestGray: #A6A6A6;
$middleGray: #5B5B5B;

// EntypoRegular for bullets
@font-face {
  font-family: 'EntypoRegular';
  src: url('../font/Entypo-webfont.eot');
  src: url('../font/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/Entypo-webfont.woff') format('woff'),
       url('../font/Entypo-webfont.ttf') format('truetype'),
       url('../font/Entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
