@import "var";
@import "mixins";

// ------------------------------------------//
// GLOBALS
html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  @include fontColor($darkestGray);
  @include bgColor($white);
  @include fontLight;
  @include fontSize($baseFontSize);
  font-family: $font;
}

a {
  @include transitionAll;
  @include fontColor($middleGray);
  @include fontRegular;
  border: none;
  text-decoration: none;
}

a:hover {
  @include fontColor($accent);
}

code {
  @include soloPadding(5px);
  @include bgColor(#fff);
  font-family: $fontMono;
}

ol, ul, li {
  @include dualMargin(0px, 20px);
  @include soloPadding(10px);
}

// ------------------------------------------//
// HEADER WITH NAV
header {
  @include soloPadding(20px);

  h1, h2, h3 {
    @include dualPadding(20px, 0px);
    @include alignCenter;
  }

  h1 {
    @include fontColor($accent);
    @include fontHeavy;
    @include fontSize($baseFontSize*2.5);
    @include fullMargin(100px, 0px, 0px, 0px);
  }

  h2 {
    @include fontLight;
    @include fontSize($baseFontSize*2)
  }

  h3 {
    @include fontSize($baseFontSize);
  }

  a {
    @include soloPadding(20px);
  }

  a:before {
    @include starBullets;
  }

  p {
    @include alignCenter;
  }
}

// ------------------------------------------//
// ARTICLES
article {
  @include soloPadding(20px);
  @include fullMargin(0px, 0px, 20px, 0px);
  line-height: 1.6em;
  border-top: 1px dotted $middleGray;

  p {
    @include dualPadding(10px, 0px);
  }

  h1 {
    @include fullPadding(30px, 0px, 10px, 0px);
    @include fontBold;
    @include fontSize($baseFontSize*1.6);
  }

  h2 {
    @include fullPadding(30px, 0px, 10px, 0px);
    @include fontLight;
    @include fontSize($baseFontSize*1.3);
  }

  .symbol {
    @include icons;
  }

  ul li:before {
    @include starBullets;
  }
}

// ------------------------------------------//
// FOOTER
footer {
  @include dualPadding(40px, 0px);
  @include fontSize($baseFontSize*0.6);
  @include alignCenter;
  p {
    @include soloPadding(20px);
  }
}

// MISC
button.btn {
  padding: 10px;
  border: 0px;
  color: $darkestGray;
  background: $accent;
  &:hover {
    background: #c4c4c4;
    background-image: -webkit-linear-gradient(top, #c4c4c4, #d6d6d6);
    background-image: -moz-linear-gradient(top, #c4c4c4, #d6d6d6);
    background-image: -ms-linear-gradient(top, #c4c4c4, #d6d6d6);
    background-image: -o-linear-gradient(top, #c4c4c4, #d6d6d6);
    background-image: linear-gradient(to bottom, #c4c4c4, #d6d6d6);
  }
}