/* line 3, ../sass/style.scss */
body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: #363636;
}

/* line 9, ../sass/style.scss */
p {
  font-size: 1.25em;
}

/* line 13, ../sass/style.scss */
em {
  font-family: "Lora", "Georgia", serif;
  font-weight: 400;
  font-size: 0.5em;
}

/* line 18, ../sass/style.scss */
a {
  color: #e74c30;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
/* line 24, ../sass/style.scss */
a:hover {
  color: #037e8c;
}

/* line 29, ../sass/style.scss */
.primary {
  font-size: 1.625em;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: -2px;
  float: right;
  text-align: right;
}

/* line 35, ../sass/style.scss */
.secondary h1 {
  font-family: "Lora", "Georgia", serif;
  font-weight: 400;
  line-height: 1.1em;
  color: #e74c30;
  font-size: 2.5em;
}

/* line 40, ../sass/style.scss */
h2, h3, h4, h5, h6 {
  font-family: "Lora", "Georgia", serif;
  font-weight: 400;
  color: #037e8c;
}

/* line 45, ../sass/style.scss */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* line 51, ../sass/style.scss */
article {
  border-top: 10px solid #fceae7;
}

/* line 55, ../sass/style.scss */
ul {
  margin-left: 20px;
  font-size: 1em;
}
/* line 58, ../sass/style.scss */
ul li {
  padding: 5px;
}
