/* baseFontSize assumes you're using the fontSize mixin and desire ems */
@font-face {
  font-family: 'EntypoRegular';
  src: url("../font/Entypo-webfont.eot");
  src: url("../font/Entypo-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Entypo-webfont.woff") format("woff"), url("../font/Entypo-webfont.ttf") format("truetype"), url("../font/Entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 8, ../sass/main.scss */
html, body, button, input, select, textarea,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  color: #272727;
  background-color: #f4f4f4;
  font-weight: 300;
  font-size: 1.1em;
  font-family: "jaf-facitweb", "Helvetica", "Arial", sans-serif;
}

/* line 16, ../sass/main.scss */
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #5b5b5b;
  font-weight: 400;
  border: none;
  text-decoration: none;
}

/* line 24, ../sass/main.scss */
a:hover {
  color: #f25c65;
}

/* line 28, ../sass/main.scss */
code {
  padding: 5px;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

/* line 34, ../sass/main.scss */
ol, ul, li {
  margin: 0px 20px;
  padding: 10px;
}

/* line 41, ../sass/main.scss */
header {
  padding: 20px;
}
/* line 44, ../sass/main.scss */
header h1, header h2, header h3 {
  padding: 20px 0px;
  text-align: center;
}
/* line 49, ../sass/main.scss */
header h1 {
  color: #f25c65;
  font-weight: 800;
  font-size: 2.75em;
  margin: 100px 0px 0px 0px;
}
/* line 56, ../sass/main.scss */
header h2 {
  font-weight: 300;
  font-size: 2.2em;
}
/* line 61, ../sass/main.scss */
header h3 {
  font-size: 1.1em;
}
/* line 65, ../sass/main.scss */
header a {
  padding: 20px;
}
/* line 69, ../sass/main.scss */
header a:before {
  padding: 0px 10px;
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 1.5em;
}
/* line 73, ../sass/main.scss */
header p {
  text-align: center;
}

/* line 80, ../sass/main.scss */
article {
  padding: 20px;
  margin: 0px 0px 20px 0px;
  line-height: 1.6em;
  border-top: 1px dotted #5b5b5b;
}
/* line 86, ../sass/main.scss */
article p {
  padding: 10px 0px;
}
/* line 90, ../sass/main.scss */
article h1 {
  padding: 30px 0px 10px 0px;
  font-weight: 700;
  font-size: 1.76em;
}
/* line 96, ../sass/main.scss */
article h2 {
  padding: 30px 0px 10px 0px;
  font-weight: 300;
  font-size: 1.43em;
}
/* line 102, ../sass/main.scss */
article .symbol {
  font-family: 'EntypoRegular';
  font-size: 1.65em;
  padding: 0px 10px;
}
/* line 106, ../sass/main.scss */
article ul li:before {
  padding: 0px 10px;
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 1.5em;
}

/* line 113, ../sass/main.scss */
footer {
  padding: 40px 0px;
  font-size: 0.66em;
  text-align: center;
}
/* line 117, ../sass/main.scss */
footer p {
  padding: 20px;
}

/* line 123, ../sass/main.scss */
button.btn {
  padding: 10px;
  border: 0px;
  color: #272727;
  background: #f25c65;
}
/* line 128, ../sass/main.scss */
button.btn:hover {
  background: #c4c4c4;
  background-image: -webkit-linear-gradient(top, #c4c4c4, #d6d6d6);
  background-image: -moz-linear-gradient(top, #c4c4c4, #d6d6d6);
  background-image: -ms-linear-gradient(top, #c4c4c4, #d6d6d6);
  background-image: -o-linear-gradient(top, #c4c4c4, #d6d6d6);
  background-image: linear-gradient(to bottom, #c4c4c4, #d6d6d6);
}
