// Colors
$text: #363636;
$orange: #E74C30;
$teal: #037E8C;

// Fonts
$font-size: 1.25;
$font: 'Lato', 'Arial', sans-serif;
$font-serif: 'Lora', 'Georgia', serif;
$font-accent: 'Oswald', sans-serif;
$font-mono: 'Source Code Pro', monospace;

@mixin large-line-height {
  line-height: 1.1em;
}

@mixin font-size-adjust($num: 1) {
  font: {
    size: #{$font-size * $num}em;
  }
}

@mixin font-sans-serif {
  font: {
    family: $font;
    weight: 300;
  }
}

@mixin font-serif {
  font: {
    family: $font-serif;
    weight: 400;
  }
}

@mixin primary-core {
  @include font-size-adjust(1.3);
  text-transform: uppercase;
  font-family: $font-accent;
  letter-spacing: -2px;
}

@mixin secondary-core {
  @include font-serif;
  @include large-line-height;
  color: $orange;
}